.coca-cola {
  transform: rotateX(-90deg);

}
.tin {
  width: 30px;
  height: 210px;
  transform: translateX(99.5%) rotateY(33deg);
  transform-origin: left;
  position: relative;
  left: 0;
  top: 0;
  background-image: url(../images/coca-cola-label.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.tin--1 { background-position: left top; }
.tin--2 { background-position: 10% top; }
.tin--3 { background-position: 20% top; }
.tin--4 { background-position: 30% top; }
.tin--5 { background-position: 40% top; }
.tin--6 { background-position: 50% top; }
.tin--7 { background-position: 60% top; }
.tin--8 { background-position: 70% top; }
.tin--9 { background-position: 80% top; }
.tin--10 { background-position: 90% top; }
.tin--11 { background-position: 100% top; }
