* {
  margin: 0;
  padding: 0;
}

body {
  background: #EB191E;
  box-shadow: inset 0 0 1000px 0px #960612;
}
.print-result {
  position: absolute;
  width: 10px;
  left: 10px;
  top: 10px;
  color: white;
  font: 12px arial;
  letter-spacing: 0.9px;
  line-height: 1.5;
  z-index: 1;
}
.print-result .value {
  margin-left: 10px;
  display: block;
}
.coca-cola-container {
  perspective: 400px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.coca-cola-container * {
  transform-style: preserve-3d;
}

.coca-cola {
  transform-origin: center center -51px;
  width: 30px;
  height: 210px;
  margin: auto;
}

.tin {
  width: 100%;
  height: 100%;
  transform: translateX(99.5%) rotateY(33deg);
  transform-origin: left;
  position: relative;
  left: 0;
  top: 0;
  background-color: #be0709;
  background-image: url(http://i.imgur.com/OKuKdpj.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.tin--01 { background-position: 0% top; }
.tin--02 { background-position: 10% top; }
.tin--03 { background-position: 20% top; }
.tin--04 { background-position: 30% top; }
.tin--05 { background-position: 40% top; }
.tin--06 { background-position: 50% top; }
.tin--07 { background-position: 60% top; }
.tin--08 { background-position: 70% top; }
.tin--09 { background-position: 80% top; }
.tin--10 { background-position: 90% top; }
.tin--11 { background-position: 100% top; }

.top {
  background-color: #86919a;
  background-image: url(http://i.imgur.com/EmPIo5C.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 106px;
  height: 106px;
  position: absolute;
  transform: rotateX(-90deg) translateX(-50%) translateY(-2%);
  transform-origin: top;
  left: 50%;
  border-radius: 50%;
  top: 0;
}
.bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: rotateX(90deg) translateX(-50%) translateY(0%);
  transform-origin: bottom;
  bottom: 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
}

.origin {
  width: 10px;
  height: 10px;
  background: black;
  transform: translate3d(50%, 50%, -51px);
}
