* {
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
}

body {
  cursor: -webkit-grab;
}

body:active {
  cursor: -webkit-grabbing;
}

body {
  background: #EB191E;
  box-shadow: inset 0 0 1000px 0px #960612;
  overflow: hidden;
}

.side-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  letter-spacing: 0px;
  color: #ffd3d5;
}

/* Coca-Cola Container */
.object-container {
  perspective: 400px;
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
}
.object-container.preserve-3d * {
  transform-style: preserve-3d;
}
.object-container.backface-hide * {
  backface-visibility: hidden;
}

/* Object */
.object {
  transform-origin: center center -51px;
  width: 15px;
  height: 210px;
  margin: auto;
}

.tin {
  width: 100%;
  height: 100%;
  transform: translateX(100%) rotateY(17.142deg);
  transform-origin: left;
  position: relative;
  left: 0;
  top: 0;
  background-color: #be0709;
  background-image: url('../images/coca-cola-label.jpg');
  background-repeat: no-repeat;
  background-size: 2100% 100%;
}

.tin--01 { background-position: 0% top; }
.tin--02 { background-position: 5% top; }
.tin--03 { background-position: 10% top; }
.tin--04 { background-position: 15% top; }
.tin--05 { background-position: 20% top; }
.tin--06 { background-position: 25% top; }
.tin--07 { background-position: 30% top; }
.tin--08 { background-position: 35% top; }
.tin--09 { background-position: 40% top; }
.tin--10 { background-position: 45% top; }
.tin--11 { background-position: 50% top; }
.tin--12 { background-position: 55% top; }
.tin--13 { background-position: 60% top; }
.tin--14 { background-position: 65% top; }
.tin--15 { background-position: 70% top; }
.tin--16 { background-position: 75% top; }
.tin--17 { background-position: 80% top; }
.tin--18 { background-position: 85% top; }
.tin--19 { background-position: 90% top; }
.tin--20 { background-position: 95% top; }
.tin--21 { background-position: 100% top; }

.top {
  background-color: #86919a;
  background-image: url('../images/top-tin.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 102px;
  height: 102px;
  position: absolute;
  transform: rotateX(90deg) translateX(-50%) translateY(-96%) translateY(-2%);
  transform-origin: top;
  left: 50%;
  border-radius: 50%;
  top: 0;
}
.bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: rotateX(90deg) translateX(-50%) translateY(0%);
  transform-origin: bottom;
  bottom: 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
}

/* Axes
* Represents transform-origin
*/

.axes {
  width: 0px;
  height: 0px;
  background: black;
  transform: translate3d(0%, 0%, -51px);
  position: absolute;
  top: 50%;
  left: 50%;
}

.axis {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 400px;
  width: 3px;
  pointer-events: none;
  transform-origin: top;
}

/* Negative Axis */
.axis:after {
  content: "";
  position: absolute;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  transform: rotate(180deg);
}

/* Perpendicular Axis */
.axis--perpendicular {
  transform: rotateY(90deg);
}

/* X Axis */
.axis--x {
  transform: rotateZ(-90deg);
}
.axis--x,
.axis--x:after,
.axis--x .axis--perpendicular,
.axis--x .axis--perpendicular:after {
  background: linear-gradient(#960000, transparent); /* Red */
}

/* Y Axis */
.axis--y,
.axis--y:after,
.axis--y .axis--perpendicular,
.axis--y .axis--perpendicular:after {
  background: linear-gradient(#3fe63f, transparent); /* Green */
}

/* Z Axis */
.axis--z {
  transform: rotateX(90deg);
}
.axis--z,
.axis--z:after,
.axis--z .axis--perpendicular,
.axis--z .axis--perpendicular:after {
  background: linear-gradient(blue, transparent); /* Blue */
}

/* Print result */
.print-result {
  position: absolute;
  left: 10px;
  top: 50px;
  font-size: 13px;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  letter-spacing: 0px;
  color: #ffd3d5;
}
.print-result__selector {
  color: #d19a66;
}
.print-result__value {
  margin-left: 10px;
  display: block;
  width: 150px;
  margin-bottom: 10px;
}
.print-result__value:last-child {
  margin-bottom: 0;
}
