* {
  margin: 0;
  padding: 0;
}

body {
  background: #EB191E;
  box-shadow: inset 0 0 1000px 0px #960612;
  overflow: hidden;
}

/* Coca-Cola */
.coca-cola-container {
  perspective: 400px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.coca-cola-container * {
  transform-style: preserve-3d;
}

.coca-cola {
  transform-origin: center center -51px;
  width: 30px;
  height: 210px;
  margin: auto;
}

.tin {
  width: 100%;
  height: 100%;
  transform: translateX(99.5%) rotateY(33deg);
  transform-origin: left;
  position: relative;
  left: 0;
  top: 0;
  background-color: #be0709;
  background-image: url(http://i.imgur.com/OKuKdpj.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.tin--01 { background-position: 0% top; }
.tin--02 { background-position: 10% top; }
.tin--03 { background-position: 20% top; }
.tin--04 { background-position: 30% top; }
.tin--05 { background-position: 40% top; }
.tin--06 { background-position: 50% top; }
.tin--07 { background-position: 60% top; }
.tin--08 { background-position: 70% top; }
.tin--09 { background-position: 80% top; }
.tin--10 { background-position: 90% top; }
.tin--11 { background-position: 100% top; }

.top {
  background-color: #86919a;
  background-image: url(http://i.imgur.com/EmPIo5C.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 106px;
  height: 106px;
  position: absolute;
  transform: rotateX(-90deg) translateX(-50%) translateY(-2%);
  transform-origin: top;
  left: 50%;
  border-radius: 50%;
  top: 0;
}
.bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: rotateX(90deg) translateX(-50%) translateY(0%);
  transform-origin: bottom;
  bottom: 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
}

/* Print Transoform Result */
.print-result {
  position: absolute;
  width: 120px;
  left: 10px;
  top: 10px;
  color: white;
  font: 12px arial;
  letter-spacing: 0.9px;
  line-height: 1.5;
  z-index: 1;
}
.print-result span {
  margin-left: 10px;
  display: block;
}

.axes {
  width: 0px;
  height: 0px;
  background: black;
  transform: translate3d(0%, 0%, -51px);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* X Y Z Axis */
.axis {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 50px;
  border-left-width: 2px;
  border-left-style: solid;
  pointer-events: none;
  transform-origin: top;
}

.quadrant {
  transform: translateZ(1px);
  user-select: none;
  background: red;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  width: 100px;
  font-family: arial;
}
.first-quadrant {
  top: -10vw;
  left: 5vw;
}
.second-quadrant {
  top: -10vw;
  left: -18vw;
}
.third-quadrant {
  top: 9vw;
  left: -18vw;
}
.fourth-quadrant {
  top: 9vw;
  left: 5vw;
}

/* Negative Axis */
.axis:after {
  content: "";
  position: absolute;
  border-left-width: 2px;
  border-left-style: solid;
  opacity: 0.5;
  height: 100%;
  width: 0;
  bottom: 100%;
  left: 0;
  transform: translateX(-100%);
}

/* Perpendicular Axis */
.axis--perpendicular {
  transform: translateX(-100%) rotateY(90deg);
}

/* X Axis */
.axis--x {
  transform: rotateZ(-90deg);
}
.axis--x,
.axis--x:after,
.axis--x .axis--perpendicular,
.axis--x .axis--perpendicular:after {
  border-color: #960000; /* Red */
}

/* Y Axis */
.axis--y,
.axis--y:after,
.axis--y .axis--perpendicular,
.axis--y .axis--perpendicular:after {
  border-color: #3fe63f; /* Green */
}

/* Z Axis */
.axis--z {
  transform: rotateX(90deg);
}
.axis--z,
.axis--z:after,
.axis--z .axis--perpendicular,
.axis--z .axis--perpendicular:after {
  border-color: blue;
}
